{% extends 'books/base.html' %}
{% block title %} Login {% endblock %}
{#{% block navbar %} {% endblock %}#}
{% block navbar-color %}light{% endblock navbar-color %}
{% block content %}
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm-12">
                {% if form.errors %}
                    <p> Your username and password didnt match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p> Your account doesnt have access to this page. To proceed, please login with an account that
                            has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}


                <form method="post" action="{% url 'login' %}" class="d-flex flex-column align-items-center">
                    {% csrf_token %}
                            {{ form.username.label_tag }}
                            {{ form.username }}

                            {{ form.password.label_tag }}
                            {{ form.password }}

                    <input type="submit" class="btn btn-dark mt-3 w-50" value="Login"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>


                <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>


            </div>
        </div>
    </div>
{% endblock content %}