.rate_circle {
    text-align: center;
    vertical-align: middle;
}

.circle {
    /*background: red;*/
    border-radius: 5rem;
    color: white;
    height: 5rem;
    font-weight: bold;
    width: 5rem;
    display: table;
    /*margin: 20px auto;*/
}

.circle p {
    vertical-align: middle;
    display: table-cell;
}

.author_title {
    color: #6c757d !important;
}

a:hover {
    text-decoration: none;
}

a {
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.card {
    width: 33rem;
    cursor: pointer;
    transtion-property: box-shadow;
    transition-duration: 0.2s;
}

.card:hover {
    /*box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);*/
    /*border:0px;*/
    width: 47rem;
}

.book_info {
    display: none;
    transition:1s;
}

/*.book_main_info:hover + .book_info {*/
/*    display: block;*/
/*}*/
.card:hover  .book_info {
    display:block;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.book_cover {
    padding:5px;
}

@media only screen and (max-width: 720px) {
    .card {
        margin: 0;
        padding: 0 !important;
    }

    .card-body {
        margin: 0;
        padding: 0 !important;
    }
    .book_main_info {
        font-size:
        5px !important;
    }
    .circle {
        height:4rem;
        width:4rem;
    }
    .book_cover, .book_info {
        display: none !important;
    }
}

