.card {
    width: 33rem;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    border: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    width: 100%;
    border-radius: 60px;
    border: 2px solid #FFC700;
    z-index: 10;
    background-color: white;

}

.card-body .row * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
    transition: .5s;
}

.card-rating .rate-square {
    border-radius: 55px;
    background-color: #FFC700;
    width: 200px;
    height: 100%;
}

.icon-info {
    position: absolute;
    bottom: 25px;
    left: 25px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    z-index: 25;
}


.card-extension {
    width: 90%;
    height: 350px;
    background-color: #FFC700;
    z-index: 4;
    margin-top: -100px;
    border-radius: 50px;
    transition: 1s;
    display: none;
    color: white;
    font-size: 20px;
    padding: 150px 15px 50px;
    overflow: hidden;
}

.card-extension span {
    display: block;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    height: 100%;
}


.book-list {
    padding-top: 200px;
}

nav {
    background-color: #FFC700;
    width: 20%;
    border-radius: 0 0 50px 0;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

.suggest {
    position: absolute;
    right: 2%;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.suggest span {
    margin-right: 10px;
    display: none;
    font-weight: bold;
}

.suggest:hover span {
    display: block;
}

.btn-suggest-book {

    transition: .2s;
    cursor: pointer;
}

.btn-suggest-book .frame {
    fill: white;
}

.btn-suggest-book .plus-sign {
    fill: #FFC700;
}


.btn-suggest-book:hover .frame {
    fill: #FFC700;
}

.btn-suggest-book:hover .plus-sign {
    fill: white;
}

.main-search {
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    margin: auto;
}

.main-search .search-input-container {
    right: 50%;
}

